<select
  name="amount"
  id="amount"
  class="c-select"
>
  <option
    value="10"
    selected="selected"
  >
    10
  </option>
  <option
    value="20"
  >
    20
  </option>
  <option
    value="50"
  >
    50
  </option>
</select>