<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="dashboard" @appTitle="Verenigingsloket" @contactRoute="">
  <div class="c-header-buttons">
    {{#if @loggedIn}}
    <HeaderAccount />
    {{else}}
    <AuLink @route="dashboard" @skin="button" @icon="user" class="c-header-buttons__login">
      Aanmelden
    </AuLink>
    {{/if}}
    <HeaderHelp />
  </div>
</AuMainHeader>