<AuMainContainer as |m|>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group class="au-u-1-1">
          <AuHeading @level="1" @skin="2">Mijn aanvragen</AuHeading>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-c-form">
          <div class="au-c-form__group au-o-flow">
            <AuHeading @level="2" @skin="4">Algemene informatie</AuHeading>
            <AuHr />
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.content>
                  <AuLabel>
                    Naam
                  </AuLabel>
                  <AuInput />
                </f.content>
              </AuFieldset>
            </AuFormRow>
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.content>
                  <AuLabel>
                    Datum wedstrijd
                  </AuLabel>
                  <AuDatePicker />
                </f.content>
              </AuFieldset>
            </AuFormRow>
          </div>
          <div class="au-c-form__group au-o-flow">
            <AuHeading @level="2" @skin="4">Aard van de wielerwedstrijd</AuHeading>
            <AuHr />
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.legend>Wegwedstrijd</f.legend>
                <f.content>
                  <AuRadioGroup
                    @name="radios"
                    as |Group|
                  >
                    <Group.Radio @value="radioOne">Individuele wedstrijd</Group.Radio>
                    <Group.Radio @value="radioTwo">Wedstrijd met ploegen</Group.Radio>
                  </AuRadioGroup>
                </f.content>
              </AuFieldset>
            </AuFormRow>
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.legend>Alle terreinwedstrijd</f.legend>
                <f.content>
                  <AuRadioGroup
                    @name="radios"
                    as |Group|
                  >
                    <Group.Radio @value="radioOne">BMX</Group.Radio>
                    <Group.Radio @value="radioTwo">Cyclocross</Group.Radio>
                    <Group.Radio @value="radioThree">Mountainbike</Group.Radio>
                    <Group.Radio @value="radioThree">Trial</Group.Radio>
                  </AuRadioGroup>
                </f.content>
              </AuFieldset>
            </AuFormRow>
          </div>
          <div class="au-c-form__group au-o-flow">
            <AuHeading @level="2" @skin="4">Categorie(en) van wielrenners welke aan de wedstrijd mogen deelnemen</AuHeading>
            <AuHr />
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.content>
                  <AuRadioGroup
                    @name="radios"
                    as |Group|
                  >
                    <Group.Radio @value="radioOne">M</Group.Radio>
                    <Group.Radio @value="radioTwo">V</Group.Radio>
                    <Group.Radio @value="radioTwo">M/V</Group.Radio>
                  </AuRadioGroup>
                </f.content>
              </AuFieldset>
            </AuFormRow>
            <AuFormRow @alignment="default">
              <AuFieldset as |f|>
                <f.legend>Licentie</f.legend>
                <f.content>
                  <AuRadioGroup
                    @name="radios"
                    as |Group|
                  >
                    <Group.Radio @value="radioOne">Elites met contract</Group.Radio>
                    <Group.Radio @value="radioTwo">Elites zonder contract</Group.Radio>
                    <Group.Radio @value="radioThree">Beloften (U23)</Group.Radio>
                    <Group.Radio @value="radioThree">Juniores (U19)</Group.Radio>
                    <Group.Radio @value="radioThree">Nieuwelingen (U17)</Group.Radio>
                    <Group.Radio @value="radioThree">Aspiranten</Group.Radio>
                    <Group.Radio @value="radioThree">Miniemen</Group.Radio>
                    <Group.Radio @value="radioThree">Masters</Group.Radio>
                    <Group.Radio @value="radioThree">Amateurs</Group.Radio>
                    <Group.Radio @value="radioThree">Gentlemen</Group.Radio>
                    <Group.Radio @value="radioThree">G-wielrenners</Group.Radio>
                  </AuRadioGroup>
                </f.content>
              </AuFieldset>
            </AuFormRow>
          </div>
        </div>
      </AuBodyContainer>
      <AuToolbar @border="top" @size="medium" as |Group|>
        <Group>
          <AuLink @skin="button" @route="cases">Indienen</AuLink>
          <AuLink @skin="button-naked" @route="dashboard">Annuleer</AuLink>
        </Group>
        <Group>
        </Group>
      </AuToolbar>
    </AuBodyContainer>
  </m.content>
</AuMainContainer>