<AuMainContainer as |m|>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100">
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group class="au-u-1-1">
          <AuHeading @level="1" @skin="2">Aanvraag: inname openbaar domein voor een wielerwedstrijd</AuHeading>
        </Group>
      </AuToolbar>
      <div class="au-o-grid au-o-grid--fixed">
        <div class="au-o-grid__item au-u-1-4">
          <div class="au-c-sidebar au-c-sidebar--inside">
            <div class="au-c-sidebar__content" tabindex="-1">
              <ul class="au-c-list-navigation">
                <li class="au-c-list-navigation__item">
                  <AuNavigationLink @route="submissions.submitted" role="menuitem">
                    Activiteit <span class="c-list-navigation__counter">1</span>
                  </AuNavigationLink>
                </li>
                <li class="au-c-list-navigation__item">
                  <AuNavigationLink @route="submissions.submitted-form" role="menuitem" class="au-u-flex--wrap">
                    <span class="au-u-1-1">Aanvraag</span>
                    <AuHelpText @skin="secondary" class="au-u-1-1">Ingediend op 17/09/2024</AuHelpText>
                  </AuNavigationLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="au-o-grid__item au-u-3-4">
          <AuBodyContainer @scroll={{true}}>
            <FormDisabled />
          </AuBodyContainer>
        </div>
      </div>
    </AuBodyContainer>
  </m.content>
</AuMainContainer>