<AuMainContainer as |m|>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100">
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group class="au-u-1-1">
          <AuHeading @level="1" @skin="2">Aanvraag: inname openbaar domein voor een wielerwedstrijd</AuHeading>
        </Group>
      </AuToolbar>
      <div class="au-o-grid au-o-grid--fixed">
        <div class="au-o-grid__item au-u-1-4">
          <div class="au-c-sidebar au-c-sidebar--inside">
            <div class="au-c-sidebar__content" tabindex="-1">
              <ul class="au-c-list-navigation">
                <li class="au-c-list-navigation__item">
                  <AuNavigationLink @route="submissions.submitted" role="menuitem">
                    Activiteit <span class="c-list-navigation__counter">1</span>
                  </AuNavigationLink>
                </li>
                <li class="au-c-list-navigation__item">
                  <AuNavigationLink @route="submissions.submitted-form" role="menuitem" class="au-u-flex--wrap">
                    <span class="au-u-1-1">Aanvraag</span>
                    <AuHelpText @skin="secondary" class="au-u-1-1">Ingediend op 17/09/2024</AuHelpText>
                  </AuNavigationLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="au-o-grid__item au-u-3-4">
          <AuBodyContainer @scroll={{true}}>
            <div class="au-c-form">
              <AuHeading @level="2" @skin="4">Status</AuHeading>
              <AuHr />
              <AuFormRow>
                <ul class="au-c-list">
                  <li><AuPill @skin="ongoing" @icon="circle-step-1">Ingediend bij Stad Gent</AuPill></li>
                  <li><AuPill @skin="warning" @icon="circle-step-3">Geagendeerd bij Gemeente Destelbergen</AuPill></li>
                  <li><AuPill @skin="ongoing" @icon="circle-step-1">Ingediend bij Stad Ninove</AuPill></li>
                  <li><AuPill @skin="neutral" @icon="circle-pause">AWV goedkeuring nog niet verstuurd</AuPill></li>
                </ul>
              </AuFormRow>
            </div>
            <div class="au-c-form">
              <AuHeading @level="2" @skin="4">Geschiedenis</AuHeading>
              <AuHr />
              <AuFormRow>
                <ol class="au-u-1-1 au-c-list-steps">
                  <li>Geagendeerd bij <strong>Gemeente Destelbergen</strong> op 18/09/2024</li>
                  <li>Automatisch verstuurd naar <strong>Gemeente Destelbergen</strong> op 17/09/2024</li>
                  <li>Automatisch verstuurd naar <strong>Stad Ninove</strong> op 17/09/2024</li>
                  <li>Automatisch verstuurd naar <strong>Stad Gent</strong> op 17/09/2024</li>
                  <li>Ingediend op 17/09/2024</li>
                </ol>
              </AuFormRow>
            </div>
          </AuBodyContainer>
        </div>
      </div>
    </AuBodyContainer>
  </m.content>
</AuMainContainer>