{{page-title "Login"}}

<LayoutHome>
  <AuBodyContainer class="au-u-background-gray-100">
    <section class="c-home">
      <div class="au-o-flow">
        <AuContent>
          <AuHeading @level="1" @skin="2">Welkom bij het Loket voor Lokale Besturen.</AuHeading>
          <div class="c-home__visual">
            <img
              src="/assets/homepage-visual.svg"
              class="c-home-visual"
              alt=""
              {{!template-lint-disable require-valid-alt-text}}
            />
          </div>
          <p>
            U kan toegang aanvragen door middel van <a href="#!" class="au-c-link">zelfregistratie</a>. Uw interne beheerder zal de toegangsaanvraag behandelen.
          </p>
          <p>
            Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet, contacteer <a href="#!" class="au-c-link">gebruikersbeheer Vlaanderen</a>.
          </p>
          <AuLink @skin="button" @width="block" class="au-c-button--large" @route="dashboard">Meld u aan</AuLink>
        </AuContent>
        <div class="au-c-home__form au-o-flow">
          <p class="au-u-text-center">
            <AuLink @route="index">Meer informatie over het loket voor lokale besturen</AuLink>
          </p>
        </div>
      </div>
    </section>
  </AuBodyContainer>
</LayoutHome>
