{{page-title "SPARQL Endpoint"}}

<div class="au-o-layout">
  <div class="au-o-region">
    <div class="au-u-margin-top-large au-u-margin-bottom">
      <AuHeading @level="1" @skin="1">
        SPARQL endpoint
      </AuHeading>
      <p class="au-u-para-lead">
        Explore the published data using SPARQL 1.1 queries
      </p>
    </div>

    <div {{yasgui}}></div>
    {{outlet}}
  </div>
</div>